//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@adcellerant:registry=https://npm.pkg.github.com/

//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
@fortawesome:registry=https://npm.fontawesome.com/

enable-pre-post-scripts=true
engine-strict=true
save-exact=true

public-hoist-pattern[]=@emotion/*
public-hoist-pattern[]=@fortawesome/*
public-hoist-pattern[]=@mui/*
